<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Communi-Zone</title>
    <!-- 아이콘 -->
     
</head>
<body>
<!-- 네비게이션바 코드 분리-->
 {% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
 <!-- Bootstrap JS -->
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <!-- 자바스크립트 -->
   {% block script %}
   {% endblock %}
</body>
</html>
